* {
  margin: 0;
  padding: 0;
}
/* setting the flex box and the typo graphy */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
h1 {
  font-size: 1.5em;
}
mark {
  background-color: transparent;
}
/* class for lighter weight */
.light-weight {
  font-weight: 300;
}
p.grey_color.left {
  margin-left: 15px;
}
.cyan_color {
  color: hsl(178, 100%, 50%);
}
.grey_color {
  color: hsl(215, 51%, 70%);
}
.white_color {
  color: white;
}
/* main container for the content */
.container {
  max-height: 600px;
  max-width: 300px;
  padding: 20px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
}
/* setting the margin for all the elements */
.container > * {
  margin-top: 20px;
}
/* main image configration */
.img-div {
  background: url(../images/image-equilibrium.jpg) 0 0 / 100%;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 0;
}
.img-hover {
  background: url(../images/icon-view.svg) no-repeat center
    hsl(178, 100%, 50%, 0.5);
  height: 100%;
  border-radius: inherit;
  opacity: 0;
}
.img-hover:hover {
  opacity: 1;
  cursor: pointer;
}
.hover:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
/* text alignment for the small images */
.inner img {
  vertical-align: bottom;
}
img[alt="avatar"] {
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 30px;
}
/* floating the elements in the inner box */
.left {
  display: inline;
}
.right {
  display: inline;
  float: right;
}
